.user-card-container {
  display: flex;
  padding: 1rem;
  border: 1px dotted #ccc;
  margin: 0.7rem 0;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 50%;
}

.repo-card {
  display: flex;
}

.repo {
  flex-direction: column;
}
