* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #484f58;
  color: white;
  height: 50px;
}

.navbar a {
  color: white;
  padding: 0.45rem;
  margin: 0 0.25rem;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.show-loader {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
